* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 10px;
}

.wrapper {
    background-color: #222;
    color: #fff;
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.piano-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.piano-header div {
    display: flex;
    align-items: center;
    gap: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.piano-header div span {
    font-size: 1.19rem;
    font-weight: 600;
    margin-right: 1.2rem;
}

.piano-header .volume-control input {
    accent-color: #fefefe;
    cursor: pointer;
}

.piano-header .toggle-key-showhide input {
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: #424242;
    border: 2px solid #424242;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.piano-header .toggle-key-showhide input::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #8c8c8c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

}

.piano-header .toggle-key-showhide input:checked:before {
    left: 35px;
    background-color: #e3f2fd;
}

.piano-keys {
    margin-top: 40px;
    list-style: none;
    display: flex;
    color: #a2a2a2;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    /* gap: 1rem; */

}

.piano-keys .white {
    width: 70px;
    height: 270px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border-radius: 10px;
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    margin: 0 -22px;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    background: linear-gradient(#333 96%, #000 4%);
}

.piano-keys .key {
    position: relative;
    cursor: pointer;
    border: 1px solid #111;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.piano-keys .white.active {
    box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px -5px 20px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000 0%, #434343 100%);
}



.piano-keys .key span {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.piano-keys .key.hide span {
    display: none;
}



@media only screen and (max-width:815px) {
    .wrapper {
        padding: 25px;
    }

    .piano-header {
        flex-direction: column;
        gap: 1rem;
    }

}

@media only screen and (max-width:615px) {

    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key:nth-child(17) {
        display: none;
    }

    .piano-keys .white {
        width: 50px;
    }
}